<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}/tags/">Tags</a></li>
		<li><a href="{{ site.url }}">Home</a></li>
		<li><a href="{{ site.url }}/archives/">Archives</a></li>
		<li><a href="{{ site.url }}/categories/">Categories</a></li>
		<li>
			<a href="#">About</a>
			<ul class="dl-submenu">
				<li><a href="https://www.github.com/iusn{{ site.owner.v2ex }}"><i class="fa fa-coffee"></i> GitHub </a></li>
				<li><a href="http://www.twitter.com/NeroSun1{{ site.owner.zhihu }}"><i class="fa fa-anchor"></i> Twitter </a></li>
				<li><a href="http://www.weibo.com/979491586/"><i class="fa fa-weibo"></i> Weibo </a></li>
			</ul><!-- /.dl-submenu -->
		</li>
		<li><a href="https://gist.github.com/{{ site.owner.github }}"> Gist </a></li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
